* {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body {
	min-width: 20rem;
	margin: 0px;
}
.heading {
	color: white;
	background-color: #3EB1C0;
	width: 100%;
}
.help {
	border: white 1px solid;
	border-radius: 50%;
}
.help:hover {
	color: #3EB1C0;
	background-color: white;
}
.icon {
	width: 16px;
	height: auto;
	display: inline-block;
}
#scheduled {
	border: rgba(0,0,0,0.6) 1px solid;
}
.hidden {
	display: none;
}
#notify {
	border-radius: .2em;
	margin: 1em;
	padding: .5em;
}
#notify.warn {

}
#notify.info {
	color: white;
	background-color: #9FC2FE;
}
#notify.success {

}